@include reset;

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: $coloreBody;
    font-size: $fontSizeStandard;
}

.container-dischi {
    @include maxWidth;
    padding-top: $divisoreHeaderDischi;
    @include my-flex(space-around,center);
}
