@mixin reset {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}
@mixin my-flex ($justify,$align,$direction:row,$wrap:wrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}

@mixin maxWidth {
    max-width: $maxWidth;
    margin: 0 auto;
}
